.card {
    background-color: #ced4da;
    min-width: fit-content;

    display: grid;
    grid-template-columns: 0.5fr 1.125fr 1fr 1fr;
    border-radius: 0.25em;
}

.card > * {
    flex-basis: 0;
    border-right: 2px solid #868e96;
}

.card > *:last-child {
    border-right: none;
}


@media screen and (max-width: 720px) {
    .card {
        grid-template-columns: 1fr;
        width: max(14em, 50%);
    }

    .card > * {
        border-right: none;
        border-bottom: 1px solid #868e96;
    }

    .card > *:empty {
        display: none;
    }

    .card > *:last-child {
        border-bottom: none;
    }
}