.stop-type {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 4rem;
    padding: 0.5rem 0.5rem;
}

.pick-up {
    background-color: #c0eb75;
}

.delivery {
    background-color: #74c0fc;
}